.fade-in {
  animation: fadeIn 0.8s ease-in;
}

.slide-up {
  animation: slideUp 0.7s ease;
}

.scale-hover:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
